<ion-header>

  <ion-navbar color="primary">
    <ion-title>Set tags</ion-title>
    <ion-buttons end (click)="closeModal('close')">
      <button ion-button><ion-icon name="close" class="header-close-icon"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-select  canceltext="Cancel" oktext="Ok" class="select-full" [(ngModel)]="tagtitleid" (ngModelChange)="getTagsByTagTitle($event)">
        <ion-option value="" selected="true">-- Select Tag Title Name--</ion-option>
        <ion-option *ngFor="let tagName of tagNameList" [value]= "tagName.id">{{ tagName.title }}</ion-option>
      </ion-select>
    </ion-item>
    <button ion-button full (click)="addTagTitle()">Add Tag Title</button>
    <button ion-button full (click)="deleteTagTitle()" color="danger">Delete Tag Title</button>
    <ion-item class="add-input">
      <ion-input type="text" placeholder="Enter tag" [(ngModel)]="tagvalue"></ion-input>
      <ion-buttons item-end (click)="addTag()">
        <button ion-button><ion-icon item-end name="add" class="add-btn"></ion-icon></button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-list no-lines>
    <ion-item ion-item  detail-none *ngFor="let tag of selectedTags">
      {{ tag.tagname }}
      <ion-buttons item-end (click)="deleteItem(tag)">
        <button ion-button class="close-btn" color="danger"> <ion-icon item-end name="close" class="add-btn"></ion-icon></button>
      </ion-buttons>
    </ion-item> 
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="save()">
      <ion-icon name="done-all"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
