.select-full{
    max-width: 100%;
    padding: 0;
}
.zero-margin-left-right{
    margin-left:  0;
    margin-right:  0;
}
.width-100-per{
    width:100%;
}
.float-right{
    float: right;
}
.header-icon{
    margin: 0 5px;
    font-size: 1.5em;
}

.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #000;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; 
    }
  
    .card-subtitle {
      font-size: 1.0em;
      font-weight: bold;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #000;
    }
  
  }
  .popover-content .list-ios, .popover-viewport ion-list{
      margin-bottom: 0;
  }