<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      CalEvent
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
      <ion-label>Choose calendar</ion-label>
      <ion-select  canceltext="Cancel" oktext="Ok" class="select-full" [(ngModel)]="selectedCal" (ngModelChange)="listEvent($event)">
        <ion-option value="" selected="true">-- Select --</ion-option>
        <ion-option *ngFor="let cal of calenderList" [value]= "cal.name">{{ cal.name }}</ion-option>
      </ion-select>
      <ion-list *ngIf="selectedCal">
        <ion-card *ngFor="let ev of events">
          <ion-card-header>
            {{ ev.title }}
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-icon name="calendar"></ion-icon> Sart : {{ parseDate(ev.dtstart) }}
            </ion-item>
            <ion-item>
              <ion-icon name="calendar"></ion-icon> End : {{  parseDate(ev.dtend) }}
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-list>
      <ion-fab right bottom *ngIf="selectedCal">
        <button ion-fab color="danger" (click)="createEvent()"><ion-icon name="add"></ion-icon></button>
      </ion-fab>
</ion-content>
