page-home {

}
.select-full{
    max-width: 100%;
    padding: 0;
}
.zero-margin-left-right{
    margin-left:  0;
    margin-right:  0;
}
.width-100-per{
    width:100%;
}
.float-right{
    float: right;
}
.header-icon{
    margin: 0 5px;
    font-size: 1.5em;
}